<!-- TicTacToe Minimalist Main UI -->
<div class="ttt-container">
  <div class="ttt-status" *ngIf="statusMessage as statMsg">{{ statMsg }}</div>
  <div class="ttt-board">
    <div class="ttt-row" *ngFor="let row of grid; let i = index">
      <button class="ttt-cell"
        *ngFor="let cell of row; let j = index"
        [ngClass]="{ 'ttt-won': isCellInWin(i,j) }"
        [disabled]="!canPlay(i, j)"
        (click)="handleClick(i, j)">
        {{ cell }}
      </button>
    </div>
  </div>
  <button class="ttt-reset" (click)="resetGame()">Reset Game</button>
</div>
